html,
body {
  height: 100%;
}

body {
  display: -ms-flexbox;
  display: -webkit-box;
  display: block;
  -ms-flex-align: center;
  -ms-flex-pack: center;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #f5f5f5;
}

.form-signin {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: auto;
}
.form-signin .checkbox {
  font-weight: 400;
}
.form-signin .form-control {
  position: relative;
  box-sizing: border-box;
  height: auto;
  padding: 10px;
  font-size: 16px;
}

.form-group {
  margin-bottom: 20px;
}

.form-signin .form-control:focus {
  z-index: 2;
}
.form-username {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-password {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

label {
  float: left;
  padding-bottom: 3px;
}

.error {
  color: red;
  text-align: center;
  margin: auto;
  padding: 10px 0;
}

.progress {
  margin: 0 100px;
  max-width: 100%;
  margin-bottom: 50px;
}

.progress-bar {
  background-color: #333333 !important;
}
