{% extends 'base.html' %}{% block content %}{% include 'dashnav.html' %}
<div style="position: absolute; top: 20; left: 100; z-index: 100; margin-left: 250px; color: rgb(185, 185, 185);">
  <a href="../dashboard">
    <i style="color:rgb(185, 185, 185)" class="fas fa-chevron-left fa-3x"></i>
  </a>
</div>
<div class="full-main">
  <div style="text-align: left; margin:50px; width: 500px;
  text-align: left; position: absolute;
  left: 50%;
  margin-left: -250px"">
    <h1 style="font-size: 70px; font-style: black;">Search Results</h1>
    <h1 style="color: gray">For Joshua</h1>
    <div style="padding-top: 50px"></div>
    <div style="padding-bottom: 20px">
      <h2>Because you like Reading:</h2>
      <a style="font-size: 30px; padding-top:10px; color: #93c5fd" target="_blank" href="https://www.checkers.co.za/All-Departments/Health-and-Beauty/Eyecare/Reading-Glasses/Lenzo-%2B1-5-Bold-Frame-Reading-Glasses/p/10744722EA">Checkers Reading Glasses</a>
    </div>
    <div style="padding-bottom: 20px">
      <h2>Because you like Golf:</h2>
      <a style="font-size: 30px; padding-top:10px; color: #93c5fd" target="_blank" href="https://www.checkers.co.za/All-Departments/Household/Stationery-and-Newsagent/Magazines-and-Newspapers/Compleat-Golfer-Monthly-Magazine/p/10119614EA">Checkers Golf Magazine</a>
    </div>
    <div style="padding-bottom: 20px">
      <h2>Because you like Manchester United:</h2>
      <a style="font-size: 30px; padding-top:10px; color: #93c5fd" target="_blank" href="https://www.gnc.com/optimum-nutrition/optimumNutritionEssentialAminoEnergyPlusElectrolytes.html?cgid=optimum-nutrition#start=1">GNC Sports Drink</a>
    </div>
    <div style="padding-bottom: 20px">
      <h2>Because you like adventures:</h2>
      <a style="font-size: 30px; padding-top:10px; color: #93c5fd" target="_blank" href="https://www.tripadvisor.co.uk/Attraction_Review-g55328-d1777960-Reviews-Adventure_Park_Ziplines-Sevierville_Tennessee.html">TripAdvisor Adventure Zipline</a>
    </div>
    <div style="padding-bottom: 100px;"></div>
    <h2>Get anything wrong?</h2>
    <p>Recomend us feedback at our <a href="#" style="color: #93c5fd">email</a></p>
  </div>
{% endblock %}